@using Domain.Dtos.Book
@model BookDto

<form method="post">
    <div class="border p-3 mt-4">
        <div class="border pb-2">
            <h2 class="text-primary">Create Book</h2>
            
            <hr/>
        </div>
        <div class="mb-3">
            <input asp-for="Title" class="form-control" placeholder="Title"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="Author" class="form-control" placeholder="Author"/>
            <span asp-validation-for="Author" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <input asp-for="Year" class="form-control" placeholder="Year"/>
            <span asp-validation-for="Year" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Book" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}